@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");
@import "tailwindcss";

:root {
  --font-pacifico: "Lobster", cursive;
  --font-avant: Avant Garde, sans-serif;
  --font-redHatMono: Red Hat Mono, sans-serif;
  --font-aladin: "aladin", sans-serif;

  --black: #131313;
  --gray: #2c2c2c;
  --text-off: #b7ab98;
  --orange: #fd8b09;
}

* {
  font-family: var(--font-avant);
  cursor: none;
}

.text-off-white {
  color: var(--text-off);
}

.bg-off-white {
  background-color: var(--text-off);
}

.gray-text {
  color: var(--gray);
}

.gray-bg {
  background-color: var(--gray);
}

.orange-text {
  color: var(--orange);
}

.orange-text-hover:hover {
  color: var(--orange);
  transition: all 0.2s ease-in-out;
}

.orange-bg {
  background-color: var(--orange);
}

.orange-bg-hover:hover {
  background-color: var(--orange);
  color: var(--gray);
  transition: all 0.5s ease-in-out;
}

.black-text {
  color: var(--black);
}

.black-bg {
  background-color: var(--black);
}

body {
  margin-bottom: 79vh;
}

.pacifico {
  font-family: var(--font-pacifico);
}

.aladin {
  font-family: var(--font-aladin);
}

.redHatMono {
  font-family: var(--font-redHatMono);
}

.nav {
  background-image: linear-gradient(
    to bottom,
    #2c2c2c,
    #282828d6 80%,
    #1c1c1c66 95%,
    transparent
  );
  backdrop-filter: blur(16px);
}

::-webkit-scrollbar {
  display: none;
}
