@import "tailwindcss";
/* *{
    margin: 0;
    padding: 0;
} */

*{
    font-family: Avant Garde, sans-serif;
    cursor: none;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 12px;
  height: 11.484px;
  
}

::-webkit-scrollbar-track {
  background: #8b5cf620;
  /* border-radius: 5.2025px; */
}

::-webkit-scrollbar-thumb {
  background: #131313;
  /* border-radius: 15px; */
  transition: background-color 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #131313;
}


/* For Internet Explorer */
body {
  -ms-overflow-style: scrollbar;
}

/* Custom CSS */
