@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
@import "tailwindcss";
:root {
  --font-pacifico: "Lobster", cursive; 
  --font-avant: Avant Garde, sans-serif; 
  --font-redHatMono: Red Hat Mono, sans-serif; 
--font-aladin: "aladin", sans-serif;
}

*{
    font-family: var(--font-avant);
    cursor: none;
}
body{
  margin-bottom: 79vh;
}
.pacifico{
  font-family: var(--font-pacifico);
}
.aladin{
  font-family: var(--font-aladin);
}
.redHatMono{
  font-family: var(--font-redHatMono);
}
.cursor{
  filter: invert(1);
}
.nav{
      background-image: linear-gradient(to bottom, #2c2c2c, #282828d6 80%, #1c1c1c66 95%, transparent);
    backdrop-filter: blur(16px);
}

::-webkit-scrollbar {
  
  display: none;
  
}

